<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <h2>Usuário</h2>
    <a class="btn btn-success" href="/admin/users/create">Criar novo usuário</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Id</td>
                <td>Email</td>
            </tr>
        </thead>
        <tbody>
            <% users.forEach( user =>{ %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.email %></td>
                </tr>
            <% }) %>     
        </tbody>
    </table>
</div>
<%- include('../../partials/footer.ejs') %>