<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <br>
    <h2>Categorias</h2>
    <br>
        <a class="btn btn-success" href="/admin/categories/new">Criar nova Categoria</a>
    <br>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>ID</td>
                <td>Titulo</td>
                <td>Slug</td>
                <td>Ações</td>
            </tr>
        </thead>
        <tbody>          
            <% categories.forEach( category => { %>
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th>
                    <th> 
                        <form method="get" action="/admin/categories/edit/<%= category.id %>" style="display: inline;" >
                            <input type="hidden" name="id" value="<%= category.id %>">
                            <button class="btn btn-warning" >Editar</button>
                        </form>
                        <form action="/categories/delete" method="POST" style="display: inline;" onsubmit="deleteConfirm(event, this)">
                            <input type="hidden" name="id" value="<%= category.id %>">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </th>
                </tr>
            <% }); %>    
        </tbody>
    </table>
</div>
<%- include('../../partials/footer.ejs') %>
<script>
    function deleteConfirm(e, form){
        e.preventDefault();
        let decision =confirm("Deseja deletar o artigo ?")
        if(decision){
            form.submit()
        }
    }
</script>
